.fw-input-multiple-element {
    position: relative;
    padding: 0 7px 7px 7px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    border: 1px solid #cfcfcf;
}
    .fw-textarea {
        resize: none;

        margin: 7px 0 0 0;
        padding-bottom: 3px;
        padding-top: 5px;
        text-align: left;
        height: 16px;
        overflow: hidden;
        padding: 3px 5px;

        border: none;
    }
    .fw-textarea:focus {
        outline-width: 0;
    }
    .fw-elem {        
        margin: 7px 0 0 0;
        max-width: 100%;
    }    
        .fw-elem div {
            background-color: #007bff;
            border-radius: 3px;
            color: white;
            padding: 3px 5px;
            margin: 0px 2px;
            display: block;
            position: relative;
        }
            .fw-elem .text {
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
            }
            .fw-input-multiple-element .delete {
                width: 8px;
                height: 8px;
                padding: 0;
                cursor: pointer;
                margin-left: 5px;
            }
